/* Main CSS */
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
}

/* Navigation Bar */
.navbar-custom {
    background-color: #333333;
    border-bottom-color: #222222;
}

.navbar-custom a {
    color: #CCC !important;
}

.navbar-custom a:hover,
.navbar-custom a:visited {
    color: #FAFAFA !important;;
}

/* Home */
.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    color: #666666;
    background-color: #FAFAFA;
}

.map-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.picker-box {
    background: #EAEAEA;
    margin-top: 50px;
    padding: 5px 25px 30px 25px;
    border-radius: 20px;
    position: relative;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.box-container {
    padding: 50px;

}

.dl-home {
    background-color: #e74c3c;
    color: #f1c40f;
    border-radius: 20px;
    padding-bottom: 10px;
    position: relative;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.dl-home .warning-msg {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px;
    margin-top: 10px;
    text-align: center;
    min-height: 80px;
}

/* Sobre */
.about {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    color: #666666;
    background-color: #FAFAFA;
}

.about-container {
    padding: 50px;
    text-align: justify;
}

.about-container p {
    font-weight: 100;
}

.state {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    color: #666666;
    background-color: #FAFAFA;
}


.dl {
    background: #EAEAEA;
    padding-bottom: 30px;
    border-radius: 20px;
    position: relative;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.dl .state-name {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 15px;
    margin-top: 10px;
    text-align: center;
    min-height: 80px;
    border-bottom: solid 1px #CCC;
}

.dl .disease {
    background-color: #CCC;
    padding: 15px;
    -webkit-box-shadow: inset 0px 5px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    inset 0px 5px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         inset 0px 5px 2px 0px rgba(0, 0, 0, 0.3);
}

.dl .disease .box {
    background-color: #EAEAEA;
    border-radius: 4px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 3px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 3px 0px 0px rgba(0, 0, 0, 0.3);
}

.dl .disease .box .disease-title {
    background-color: #81A8B8;
    color: #FAFAFA;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    padding: 5px 0;
    font-size: 22px;
}

.dl .disease .box .disease-risk {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 18px;
}

.dl .descr {
    color: #999;
    padding: 5px 15px;
    border-bottom: 1px solid #CCC;
    text-align: center;
    font-size: 14px;
}

.dl .descr.risk {
    background-color: #81A8B8;
    color: #FAFAFA;
    font-size: 22px;
    border-bottom: 1px solid transparent;
}

.dl .descr .value {
    font-weight: 300;
}

.dl .descr .value.climate {
    text-transform: capitalize;
}

.dl .weather {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.dl .tab {
    display: inline-block;
    position: relative;
    width: 32.8%;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 1200px) {
    .dl .tab{
        width: 32.7%;
    }
}

.dl .tab .icon {
    font-size: 64px;
}

.dl .tab .number {
    font-weight: 400;
    font-size: 30px;
}

.dl .tab .label {
    font-weight: 100;
    opacity: 90%;
}

.dl .tab.windspeed {
    background-color: #5EB7DF;
    color: #FAFAFA;
}

.dl .tab.temperature {
    background-color: #FF910F;
    color: #FAFAFA;
}

.dl .tab.humidity {
    background-color: #008CC5;
    color: #FAFAFA;
}

/* Footer */
footer {
    padding: 20px 0;
    background-color: #333;
}

footer a {
    color: #3399FF;
}

footer a:hover {
    color: #FAFAFA;
}

p.copyright {
    margin: 0;
    color: #CCCCCC;
}