/* Main CSS */
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
}

/* Navigation Bar */
.navbar-custom {
    background-color: #333333;
    border-bottom-color: #222222;
}

.navbar-custom a {
    color: #CCC !important;
}

.navbar-custom a:hover,
.navbar-custom a:visited {
    color: #FAFAFA !important;;
}

/* Home */
.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    color: #666666;
    background-color: #FAFAFA;
}

.map-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.picker-box {
    background: #EAEAEA;
    margin-top: 50px;
    padding: 5px 25px 30px 25px;
    border-radius: 20px;
    position: relative;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.box-container {
    padding: 50px;

}

.dl-home {
    background-color: #e74c3c;
    color: #f1c40f;
    border-radius: 20px;
    padding-bottom: 10px;
    position: relative;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.dl-home .warning-msg {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px;
    margin-top: 10px;
    text-align: center;
    min-height: 80px;
}

/* Sobre */
.about {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    color: #666666;
    background-color: #FAFAFA;
}

.about-container {
    padding: 50px;
    text-align: justify;
}

.about-container p {
    font-weight: 100;
}

/* State */
.state {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    color: #666666;
    background-color: #FAFAFA;
}


.dl {
    background: #EAEAEA;
    padding-bottom: 30px;
    border-radius: 20px;
    position: relative;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.dl .state-name {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 15px;
    margin-top: 10px;
    text-align: center;
    min-height: 80px;
}

.dl .rate {
    min-height: 50px;
    position: relative;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    background-color: #e74c3c;

    padding: 20px 15px 0;
    color: #f1c40f;
}

.dl .rate .type {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: -30px;
}

.dl .descr {
    color: #999;
    padding: 5px 15px;
    border-bottom: 1px solid #CCC;
    text-align: center;
}

.dl .descr .value {
    font-weight: 100;
}

/* Footer */
footer {
    padding: 20px 0;
    background-color: #333;
}

footer a {
    color: #3399FF;
}

footer a:hover {
    color: #FAFAFA;
}

p.copyright {
    margin: 0;
    color: #CCCCCC;
}