<!-- State -->
<div class="state">

    <div class="container">

        <div class="row">
            <div class="col-md-6 hidden-xs">
                <div class="map-container">
                    <ul id="map" class="animated pulse">
                        <li id="crs" estado="rs"><a class="state-20" href="#estado/20" id="rs" title="Rio Grande do Sul" tooltip><img src="img/null.gif" alt="RS" /></a></li>
                        <li id="csc" estado="sc"><a class="state-23" href="#estado/23" id="sc" title="Santa Catarina" tooltip><img src="img/null.gif" alt="SC" /></a></li>
                        <li id="cpr" estado="pr"><a class="state-15" href="#estado/15" id="pr" title="Paraná" tooltip><img src="img/null.gif" alt="PR" /></a></li>
                        <li id="csp" estado="sp"><a class="state-24" href="#estado/24" id="sp" title="São Paulo" tooltip><img src="img/null.gif" alt="SP" /></a></li>
                        <li id="cms" estado="ms"><a class="state-11" href="#estado/11" id="ms" title="Mato Grosso do Sul" tooltip><img src="img/null.gif" alt="MS" /></a></li>
                        <li id="crj" estado="rj"><a class="state-18" href="#estado/18" id="rj" title="Rio de Janeiro" tooltip><img src="img/null.gif" alt="RJ" /></a></li>
                        <li id="ces" estado="es"><a class="state-7" href="#estado/7" id="es" title="Epírito Santo" tooltip><img src="img/null.gif" alt="ES" /></a></li>
                        <li id="cmg" estado="mg"><a class="state-12" href="#estado/12" id="mg" title="Minas Gerais" tooltip><img src="img/null.gif" alt="MG" /></a></li>
                        <li id="cgo" estado="go"><a class="state-8" href="#estado/8" id="go" title="Goiás" tooltip><img src="img/null.gif" alt="GO" /></a></li>
                        <li id="cdf" estado="df"><a href="#" id="df" title="Indisponível" tooltip><img src="img/null.gif" alt="DF" /></a></li>
                        <li id="cba" estado="ba"><a class="state-5" href="#estado/5" id="ba" title="Bahia" tooltip><img src="img/null.gif" alt="BA" /></a></li>
                        <li id="cmt" estado="mt"><a class="state-10" href="#estado/10" id="mt" title="Mato Grosso" tooltip><img src="img/null.gif" alt="MT" /></a></li>
                        <li id="cro" estado="ro"><a class="state-21" href="#estado/21" id="ro" title="Rondônia" tooltip><img src="img/null.gif" alt="RO" /></a></li>
                        <li id="cac" estado="ac"><a class="state-1" href="#estado/1" id="ac" title="Acre" tooltip><img src="img/null.gif" alt="AC" /></a></li>
                        <li id="cam" estado="am"><a class="state-4" href="#estado/4" id="am" title="Amazonas" tooltip><img src="img/null.gif" alt="AM" /></a></li>
                        <li id="crr" estado="rr"><a class="state-22" href="#estado/22" id="rr" title="Roraima" tooltip><img src="img/null.gif" alt="RR" /></a></li>
                        <li id="cpa" estado="pa"><a class="state-13" href="#estado/13" id="pa" title="Pará" tooltip><img src="img/null.gif" alt="PA" /></a></li>
                        <li id="cap" estado="ap"><a class="state-3" href="#estado/3" id="ap" title="Amapá" tooltip><img src="img/null.gif" alt="AP" /></a></li>
                        <li id="cma" estado="ma"><a class="state-9" href="#estado/9" id="ma" title="Maranhão" tooltip><img src="img/null.gif" alt="MA" /></a></li>
                        <li id="cto" estado="to"><a class="state-26" href="#estado/26" id="to" title="Tocantins" tooltip><img src="img/null.gif" alt="TO" /></a></li>
                        <li id="cse" estado="se"><a class="state-25" href="#estado/25" id="se" title="Sergipe" tooltip><img src="img/null.gif" alt="SE" /></a></li>
                        <li id="cal" estado="al"><a class="state-2" href="#estado/2" id="al" title="Alagoas" tooltip><img src="img/null.gif" alt="AL" /></a></li>
                        <li id="cpe" estado="pe"><a class="state-16" href="#estado/16" id="pe" title="Pernambuco" tooltip><img src="img/null.gif" alt="PE" /></a></li>
                        <li id="cpb" estado="pb"><a class="state-14" href="#estado/14" id="pb" title="Paraíba" tooltip><img src="img/null.gif" alt="PB" /></a></li>
                        <li id="crn" estado="rn"><a class="state-19" href="#estado/19" id="rn" title="Rio Grande do Norte" tooltip><img src="img/null.gif" alt="RN" /></a></li>
                        <li id="cce" estado="ce"><a class="state-6" href="#estado/6" id="ce" title="Ceará" tooltip><img src="img/null.gif" alt="CE" /></a></li>
                        <li id="cpi" estado="pi"><a class="state-17" href="#estado/17" id="pi" title="Piauí" tooltip><img src="img/null.gif" alt="PI" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="dl">
                                <div class="state-name">
                                    <h2>
                                        {{location.name}}
                                    </h2>
                                </div>
                                <div class="weather">
                                    <div class="tab humidity">
                                        <div class="icon">
                                            <i class="fa fa-tint"></i>
                                        </div>
                                        <div class="label">Umidade Atual:</div>
                                        <div class="number">{{weather.humidity}}<small>&nbsp;%</small></div>
                                    </div>
                                    <div class="tab temperature">
                                        <div class="icon">
                                            <i class="fa fa-sun-o"></i>
                                        </div>
                                        <div class="label">Temperatura Atual:</div>
                                        <div class="number">{{weather.temp}}<small>&nbsp;ºC</small></div>
                                    </div>
                                    <div class="tab windspeed">
                                        <div class="icon">
                                            <i class="fa fa-cloud"></i>
                                        </div>
                                        <div class="label">Velocidade do Vento:</div>
                                        <div class="number">{{weather.windSpeed}}<small>&nbsp;km/h</small></div>
                                    </div>
                                </div>
                                <div class="descr">
                                    ID: <span class="value">{{location.id}}</span>
                                </div>
                                <div class="descr">
                                    População: <span class="value">{{location.population}}</span>
                                </div>
                                <div class="descr">
                                    Clima: <span class="value climate">{{location.climate.name}}</span>
                                </div>
                                <div class="descr risk">
                                    Risco de Contaminação
                                </div>
                                <div class="disease">
                                    <div class="box" ng-repeat="disease in diseases">
                                        <div class="disease-title">
                                            {{disease.diseaseName}}
                                        </div>
                                        <div class="descr">
                                            Vetor: <span class="value">{{disease.vectorName}}</span>
                                        </div>
                                        <div class="descr">
                                            Número de Incidências: <span class="value">{{disease.value}}</span>
                                        </div>
                                        <div class="twitter">
                                            <span class"icon">
                                                <i class="fa fa-twitter"></i>
                                            </span>
                                            No Twitter: <span class="value">{{disease.twitter}}</span>
                                        </div>
                                        <div class="disease-risk" ng-class="{'risk-green' : disease.riskValue >= 0, 'risk-yellow': disease.riskValue > 0.6, 'risk-red': disease.riskValue > 1.2}">
                                            {{disease.risk}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="picker-box">
                                <h2>Escolha outro estado:</h2>
                                <div class="bs-docs-example">
                                    <form ng-submit="submit()" ng-controller="SelectController">
                                        <select class="selectpicker btn-block btn-lg" ng-model="id">
                                            <option value="1">Acre</option>
                                            <option value="2">Alagoas</option>
                                            <option value="3">Amapá</option>
                                            <option value="4">Amazonas</option>
                                            <option value="5">Bahia</option>
                                            <option value="6">Ceará</option>
                                            <option value="7">Espírito Santo</option>
                                            <option value="8">Goiás</option>
                                            <option value="9">Maranhão</option>
                                            <option value="10">Mato Grosso</option>
                                            <option value="11">Mato Grosso do Sul</option>
                                            <option value="12">Minas Gerais</option>
                                            <option value="13">Pará</option>
                                            <option value="14">Paraíba</option>
                                            <option value="15">Paraná</option>
                                            <option value="16">Pernambuco</option>
                                            <option value="17">Piauí</option>
                                            <option value="18">Rio de Janeiro</option>
                                            <option value="19">Rio Grande do Norte</option>
                                            <option value="20">Rio Grande do Sul</option>
                                            <option value="21">Rondônia</option>
                                            <option value="22">Roraima</option>
                                            <option value="23">Santa Catarina</option>
                                            <option value="24">São Paulo</option>
                                            <option value="25">Sergipe</option>
                                            <option value="26">Tocantins</option>
                                        </select>
                                        <input class="btn btn-primary btn-block" type="submit" id="submit" value="OK" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.state -->